* {
    margin: 0;
    padding: 0;
/*    color: #1e1e1e;*/
    color: #f2f2f2;
}

body {
    background-color: #1e1e1e;
}

header {
    background-color: #1e1e1e;
    padding: 20vh 0 10vh 0;
}

img:active{
    color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.05);
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari and Chrome */
}

a{
 cursor: pointer;
}
header .container {
    text-align: center;
}

header .container nav{
	margin: 10px;
}
header h1{
    display: inline;
    font-weight: 300;
}

header h1 strong{
    font-weight: 500;
}

header img {
    margin: 0 auto;
    display:block;
    margin-bottom: 3em;
}

header#build {
    padding: 3em 0 0;
}

header#build img {
    width: 50%;
}

header#build h1{
    font-size: 1.5em;
}

.buttonLink{
	background-color: #bbb;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 6px;
	color: #fff;
	font-size: 24px;
	 text-decoration: none;
	 border: none;	 
}

.buttonLink:hover{
	border: none;
	background-color:  white;
	box-shadow: 0px 0px 1px #777;
}

h3{
	margin: 0;
	
}

h2{
	font-weight: bold;
}

h3{
	font-weight: bold;
}

.education{
	margin: auto;
	text-align: center;
	width: 100%;
}
.aboutMe{
	margin: auto;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	
}
.aboutMe h6{
	padding-top: 1em;
	
}

.aboutMe h3{
	margin-bottom: -1em;
	
}
.aboutMe img{
	display: relative;
	text-align: center;
	width: 60%;
}

.rect h5{
	background-color: #323232;
	border-radius: 10px;
	padding: .5em .5em .5em .5em;
	margin: .5em;
	display: block;

}
#contactMe{
	background-color: #323232;
	text-align: center;
	padding: 1em 0 1em 0;
}

.clickableIcon{
	padding: .5em;
	transition: 0.3s ease;
	cursor: pointer;
	opacity: .3;
}
.clickableIcon:hover{
	opacity: 1;
}

.thumbnail{
	display: block;
	width: 24%;
	
	text-align: center;
}


.thumbnail img{
	width: 100%;
	border-radius: 20px;
}

.thumbnail img:hover,
.thumbnail a img:hover{
	color: #424242; 
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
	opacity: 1;
	transform: scale(1.05);
	-ms-transform: scale(1.05); /* IE 9 */
	-webkit-transform: scale(1.05); /* Safari and Chrome */

}


.thumbnail h5{
	padding-top: .5em;
		
}
.left{
	display: in-block;
	text-align: left;
	float: left;
}
.right{
	display:in-block;
	float: right;
	text-align:right;
}

.clear{
	
	clear: both;
}

.cred-container div{
	text-align: center;
}

.greyBackground{
	background-color: #323232;
	
	
}
@media (max-width: 845px) {
    header img {
        max-width: 90%;
    }
    
    header {
        padding: 7em 0 5em 0;
    }
	
	button {
        font-size: .5em;
        width: 5em;
    }
}

@media (max-width: 600px) {
    header img {
        margin-bottom: 1em;
    }
}

@media (max-width: 480px) {
    header h1{
        font-weight: normal;
        font-size: 1.5em;
    }
    
    header strong {
        font-weight: 600;
    }
    
    header {
        padding: 5em 0 3em 0;
    }
    
    header#build img {
        width: 100%;
    }

}

footer {
/*    background-color: #f2f2f2;*/
  /*  padding: 0.5em 0;*/
	
    text-align: center;
}

footer p {
/*   color: #1e1e1e;*/
	margin: 0;

}

section {
    margin-bottom: 1em;
}


#.desc p {
    font-size: 1.1em;
    margin-top: 2em;
}

#.desc .vid {
    width: 100%;
    background-color: #000;
    height: 280px;
}

#.desc .vid iframe {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    #.desc .vid {
        height: 300px;    
    }

    #.desc .vid iframe {
        width: 80%;
    }
}

@media (min-width: 768px) {
    #.desc .vid {
        height: 300px;
    }
}


@media (min-width: 992px) {
    #.desc .vid {
        height: 400px;
    } 
}

@media (min-width: 1200px) {
    #.desc .vid {
        height: 500px;
    }
}

#build {
    text-align: center;
    margin-bottom: 3em;
}

#build h3 {
    margin-bottom: 1em;
}

#build button {
    width: 200px;
    height: 50px;
    
    color:#1e1e1e;
}

.cred {
    background-color: #323232;
    padding: 2em 0;
   
    margin-bottom: 0;
}

.division {
    background-color: #1e1e1e;
    padding: 1em 0;
    margin-bottom: 0;
}

.division2 {
    
    padding: 1em 0;
    margin-bottom: 0;
}

.cred h2 {
    font-weight: 600;
    margin-bottom: 1.5em;
}

.cred h2, .cred h5, .cred p {
/*      color: #1e1e1e;  */
}

.cred a, .cred a:visited {
    color: #75B580;
}

.cred a:hover, .cred a:active, .cred a:focus {
    text-decoration: none;
    color: #6E9375;
}

.cred-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.important-peeps {
    justify-content: space-around !important;
    font-size: 1.2em;
    font-weight: 500;
}

.important-peeps h5{
    font-size: 1.3em;
    font-weight: 700;
}

.cred-container figure {
    min-width: 200px;
    text-align: center;
    margin-bottom: 1em;
}

@media (max-width: 991px) {
    .cred h2 {
        margin-bottom: 1em;
    }
    
    .important-peeps {
        font-size: 1em;
    }
    
    .important-peeps h5{
        font-size: 1.1em;
    }
    
    .cred-container figure {
        margin-bottom: 1em;
    }
	
}


@media (max-width: 446px) {
    .cred-container {
        justify-content: space-around;
    }
    
    .cred-container figure {
        min-width: 0px;
        text-align: center;
        margin: .3em 5px;
    }
    
    .cred-container h5 {
        font-size:  1em;
    }
    
    .cred-container p {
        font-size:  1em;
    }
}

@media (max-width: 346px) {
    .cred-container h5 {
        font-size:  .8em;
    }
    
    .cred-container p {
        font-size:  .8em;
    }
}

.buttonLink
{
	display: block;
	margin: auto;
    width: 100px;
    height: 30px;
    color:#1e1e1e;
	font-size: 1em;
}

a:link{
	text-decoration: none;
}

}
.cred button {
    display: block;
    margin:0 auto 1em;
    width: 200px;
    height: 50px;
    color:#1e1e1e;
}

.cred h4 {
    text-align: center;
}

.cred hr {
    margin-bottom: 2em;
    border-color: #737373;
}    